<!DOCTYPE html>
<html>
<head>
  <title>Mcbsite</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'nav' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="clearfix container-first">
  <%= render 'layouts/nav' %>
</div>
<div class="container clearfix">
  <%= yield %>
</div>

</body>
</html>
